<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>EmpServlet</display-name>
    <servlet-name>EmpServlet</servlet-name>
    <servlet-class>com.cheer.servlet.service.EmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpServlet</servlet-name>
    <url-pattern>/servlet/empServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addEmp</display-name>
    <servlet-name>addEmp</servlet-name>
    <servlet-class>com.cheer.servlet.web.servlet.addEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addEmp</servlet-name>
    <url-pattern>/servlet/addEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateEmp</display-name>
    <servlet-name>updateEmp</servlet-name>
    <servlet-class>com.cheer.servlet.web.servlet.updateEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateEmp</servlet-name>
    <url-pattern>/servlet/updateEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidateServlet</display-name>
    <servlet-name>ValidateServlet</servlet-name>
    <servlet-class>com.cheer.servlet.web.servlet.ValidateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateServlet</servlet-name>
    <url-pattern>/servlet/validate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionServlet</display-name>
    <servlet-name>SessionServlet</servlet-name>
    <servlet-class>com.cheer.servlet.web.servlet.SessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlet</servlet-name>
    <url-pattern>/servlet/sessionServlet</url-pattern>
  </servlet-mapping>
</web-app>